{% extends "base.html.twig" %}

{% block body %}
<!-- home section -->
	<section id="home" style="height: 50vh;">
            <div class="container" style="margin-bottom:20%; margin-top:25%">
                <div class="row">
                    <div class="col-md-12 col-sm-12" style="color:black">
                        <h3>EDUCATION CONSULTING / ONLINE COURCES / FREE WEB TRAININGS</h3>
                        <hr>
                    </div>
                </div>
            </div>		
	</section>
	<section class="unsubscribe-text">
            <div>
                <p>
                        <h2 style="text-align: center; padding-top:5vh; padding-bottom:3vh;" > Thank you for you desire to become part of SmartEduPicks.com family </h2>
                </p>
                <p>
                        <h4 style="text-align: center;padding-bottom:3vh;"> Confirmation email was sent to eamil address, indicated during previous step. </h4>
                </p>
                <p>
                        <h4 style="text-align: center;padding-bottom:3vh;"> Please log into your email and confirm your subscription by clicking on the subscribe link </h4>
                </p>	
            </div>
	</section>
{%endblock%}